packstack --default-password=changeme \
--os-compute-hosts={{ compute_ipaddrs }} \
--os-controller-host={{ control_ipaddrs }} \
--os-network-hosts={{ network_ipaddrs }} \
--os-neutron-ml2-mechanism-drivers=openvswitch \
--os-neutron-ml2-tenant-network-types=vxlan \
--os-neutron-ml2-type-drivers=vxlan,flat,vlan \
--os-neutron-ml2-vlan-ranges=physnet1:298:299 \
--os-neutron-ovs-bridge-interfaces=br-ex:{{ netdev1 }} \
--os-neutron-ovs-bridge-mappings=physnet1:br-ex \
--os-neutron-l2-agent=openvswitch \
--os-heat-install=n \
--os-swift-install=n \
--os-horizon-install=n \
--os-aodh-install=n \
--os-ceilometer-install=n \
--os-magnum-install=n \
--os-trove-install=n \
--os-ironic-install=n \
--os-neutron-metering-agent-install=n \
--os-neutron-vpnaas-install=n \
--os-heat-cfn-install=n \
--provision-demo=n \
--mariadb-pw=changeme \
--keystone-db-passwd=changeme \
--keystone-admin-passwd=changeme \
--keystone-demo-passwd=changeme \
--glance-db-passwd=changeme \
--glance-ks-passwd=changeme \
--cinder-db-passwd=changeme \
--cinder-ks-passwd=changeme \
--nova-db-passwd=changeme \
--nova-ks-passwd=changeme \
--os-neutron-ks-password=changeme \
--os-neutron-db-password=changeme \
--os-neutron-metadata-pw=changeme \
--os-swift-ks-passwd=changeme \
--os-heat-mysql-password=changeme \
--os-heat-ks-passwd=changeme \
--os-heat-domain-password=changeme \
--ceilometer-ks-passwd=changeme \
--gen-answer-file=/root/rdo-scripts/rdo-answer.txt
