network:
  ethernets:
    {{ netdev0 }}:
      dhcp4: false
      addresses: [{{ hostvars[inventory_hostname][_netdev0]['ipv4']['address'] }}/{{ ( hostvars[inventory_hostname][_netdev0]['ipv4']['address'] + '/' + hostvars[inventory_hostname][_netdev0]['ipv4']['netmask'] ) | ansible.utils.ipaddr('prefix') }} ]
      routes:
        - to: default
          via: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['gateway'] }}
      nameservers:
        addresses: [8.8.8.8,168.126.63.1,192.168.0.90,192.168.0.100]
        search: [{{ rdo.domain }}]
      dhcp6: false
    {{ netdev2 }}:
      dhcp4: false
      addresses: [{{ hostvars[inventory_hostname][_netdev2]['ipv4']['address'] }}/{{ ( hostvars[inventory_hostname][_netdev2]['ipv4']['address'] + '/' + hostvars[inventory_hostname][_netdev2]['ipv4']['netmask'] ) | ansible.utils.ipaddr('prefix') }} ]
      routes:
        - to: default
          via: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['gateway'] }}
      nameservers:
        addresses: [8.8.8.8,168.126.63.1,192.168.0.90,192.168.0.100]
        search: [{{ rdo.domain }}]
      dhcp6: false
  version: 2

