[[local|localrc]]
HOST_IP={{ hostvars[inventory_hostname]['ansible_'~ netdev1]['ipv4']['address'] }}
FIXED_RANGE=10.4.128.0/20
FLOATING_RANGE={{ hostvars[inventory_hostname][_netdev]['ipv4']['network'] }}/24
# FLOATING_RANGE=192.168.1.128/26
LOGFILE=/opt/stack/logs/stack.sh.log
ADMIN_PASSWORD=changeme
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
DATABASE_TYPE=mysql
SERVICE_HOST={{ controller_ipaddrs }}
MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292
ENABLED_SERVICES=n-cpu,c-vol,placement-client,ovn-controller,ovs-vswitchd,ovsdb-server,q-ovn-metadata-agent
NOVA_VNC_ENABLED=True
NOVNCPROXY_URL="http://$SERVICE_HOST:6080/vnc_lite.html"
VNCSERVER_LISTEN=$HOST_IP
VNCSERVER_PROXYCLIENT_ADDRESS=$VNCSERVER_LISTEN
