[[local|localrc]]
HOST_IP={{ hostvars[inventory_hostname][_netdev]['ipv4']['address'] }}
FIXED_RANGE=10.4.128.0/20
FLOATING_RANGE={{ hostvars[inventory_hostname][_netdev]['ipv4']['network'] }}/24
# FLOATING_RANGE=192.168.1.128/25
LOGFILE=/opt/stack/logs/stack.sh.log
ADMIN_PASSWORD=changeme
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD

# {{ hostvars[inventory_hostname][_netdev]['ipv4']['address'] | ipaddr('prefix') }}
#
