# Sample DevStack local.conf for Neutron ML2 OVS.
#
# This sample file is intended to be used for your typical DevStack environment
# that's running all of OpenStack on a single host.  This can also be used as
# the first host of a multi-host test environment.

[[local|localrc]]

ADMIN_PASSWORD=changeme
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=changeme

# IP address of the controller node
# FLAT_INTERFACE=ens192       # Management network interface

MULTI_HOST=True

HOST_IP=192.168.0.71
SERVICE_IP=192.168.2.71
SERVICE_HOST=192.168.0.71
FLAT_INTERFACE=ens192       # Management network interface
FIXED_RANGE=192.168.1.0/24
FLOATING_RANGE="192.168.2.128/25"
PUBLIC_NETWORK_GATEWAY="192.168.2.254"
# IPV4_ADDRS_SAFE_TO_USE="10.0.0.0/22"

TENANT_INTERFACE=ens224     # Optional: Interface for tenant traffic
PUBLIC_INTERFACE=ens256     # External/Public network interface


# Open vSwitch configuration
OVS_PHYSICAL_BRIDGE=br-ex
OVS_BRIDGE_MAPPINGS=public:br-ex
PUBLIC_BRIDGE=br-ex

# Floating IP pool
Q_FLOATING_ALLOCATION_POOL=start=192.168.2.200,end=192.168.2.250
Q_USE_PROVIDERNET_FOR_PUBLIC=True


# If your stack get failed with error: "Could not determine host ip address.
# See local.conf for suggestions on setting HOST_IP." Try to uncomment
# this line to set the proper host IP.
#HOST_IP=<CHANGE_TO_YOUR_HOST_IP>

# Horizon (the web UI) is enabled by default. You may want to disable
# it here to speed up DevStack a bit.
enable_service horizon
#disable_service horizon

# Cinder (OpenStack Block Storage) is disabled by default to speed up
# DevStack a bit. You may enable it here if you would like to use it.
disable_service cinder c-sch c-api c-vol

# Disable Tempest - The OpenStack Integration Test Suite.
disable_service tempest

# Disable OpenStack Swift - the object/blob store service.
disable_service swift

# Disable ML2 OVN plugin, driver and services
disable_service ovn
disable_service ovn-controller
disable_service ovn-northd
disable_service q-ovn-metadata-agent

# Use openvswitch as the ml2 plugin driver
Q_AGENT=openvswitch

# Enable Neutron services neutron-server, neutron-openvswitch-agent,
# neutron-dhcp-agent, neutron-l3-agent and neutron-metadata-agent
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta


[[post-config|$NEUTRON_CONF]]
[DEFAULT]
debug = True
verbose = True

# Features available for ML2 OVS, uncomment to enforce DVR and L3 HA
#router_distributed=True
#l3_ha = True

# You can add more config options here for neutron.conf
# to achive more precise control of the functions for neutron server.


[[post-config|/$Q_PLUGIN_CONF_FILE]]
[ml2]
type_drivers=flat,gre,vlan,vxlan
tenant_network_types=vxlan
mechanism_drivers=openvswitch,l2population

[agent]
tunnel_types=vxlan,gre

# You can add more config options here for ml2_conf.ini, for instance
# you can uncomment the followings to set the segment ID ranges for
# various tenant network types.

#[ml2_type_vxlan]
#vni_ranges=1:10000

#[ml2_type_flat]
#flat_networks = *

#[ml2_type_gre]
#tunnel_id_ranges = 1:10000

#[ml2_type_vlan]
#network_vlan_ranges = tenant:1:1000
